.form {
  width: 350px;
  height: 250px;
  margin: 0 auto;
  padding: 27px 20px;
  font-family: Roboto;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 11px;
  }

  label {
    margin-left: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #828282;
  }

  &__login,
  &__password {
    width: 100%;
    height: 37px;
    padding: 0 8px;
    background: #E0E0E0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #000000;
    outline: none;
    border: none;
    &.ng-invalid {
      border-bottom: 1px solid red;
    }
  }

  &__btn {
    margin-top: 22px;
    width: 124px;
    height: 30px;
    align-self: flex-end;
    background: #2F80ED;
    border-radius: 5px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s all;
    &:disabled {
      background: #85B9FF;
      filter: drop-shadow(2px 0px 4px #2f81ed00);
    }
    &:hover {
      filter: drop-shadow(2px 0px 4px #2F80ED);
    }
  }
}
