:host {
  width: 100%;
}

.results-list {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}
